<%- include('./../../fragments/header2.ejs') %>
    <%- include('./../../fragments/nav-ver.ejs') %>
        <div class="main">
            <main>
                <table class="data" cellpadding="5">
                    <tr>
                        <td colspan="2">
                            <h4> Personal Details</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>USERNAME</td>
                        <td contenteditable="true">trueartist</td>
                    </tr>
                    <tr>
                        <td>PASSWORD</td>
                        <td contenteditable="true">ads#@5#fj</td>
                    </tr>
                    <tr>
                        <td>E-MAIL</td>
                        <td contenteditable="true">ta@gmail.com</td>
                    </tr>

                </table>
                <a href="admin-userDetails.html"><button style="margin-left: 10px">Confirm</button></a>
                <a href="admin-userDetails.html"><button style="margin-left: 10px">Cancel</button></a>
                <br>
                <br>
            </main>
        </div>
        <%- include('./../../fragments/footer.ejs') %>