<%- include('./../../fragments/header2.ejs') %>
    <%- include('./../../fragments/nav-ver.ejs') %>

        <div class="main">
            <main>
                <table class="data" cellpadding="5">
                    <tr>
                        <td colspan="2">
                            <h4> Personal Details</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>USERNAME</td>
                        <td>trueartist</td>
                    </tr>
                    <tr>
                        <td>PASSWORD</td>
                        <td>ads#@5#fj</td>
                    </tr>
                    <tr>
                        <td>E-MAIL</td>
                        <td>ta@gmail.com</td>
                    </tr>

                </table>
                <a href="user/edit/"><button style="margin-left: 10px">Edit</button></a>
                <br>
                <table class="data" cellpadding="5">
                    <tr>
                        <td colspan="4">
                            <h4> Artworks</h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Tags</th>
                        <th>Thumbnail</th>
                    </tr>
                    <tr>
                        <td>Mona Lisa</td>
                        <td>The painting's novel qualities include the subject's enigmatic expression, the
                            monumentality of the composition, the subtle modelling of forms,
                            and the atmospheric illusionism.</td>
                        <td>portrait, renaissance</td>
                        <td align="center"><img
                                src="Images/300px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg"
                                width="50px"></td>
                    </tr>
                    <tr>
                        <td>Mononoke Hime</td>
                        <td>Miyazaki Hayao film promotion material</td>
                        <td>anime art</td>
                        <td align="center"><img src="Images/san and kodama.jpg" width="50px"></td>
                    </tr>

                </table>
                <a href="artwork/add"><button style="margin-left: 10px">Add new Artwork</button></a>

                <table>
                    <tr>
                        <td colspan="5">
                            <h4> Offerts </h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Created date</th>
                        <th>Customer</th>
                        <th>Purchase date</th>
                    </tr>
                    <tr>
                        <a>
                            <td>Mona Lisa like portrait</td>
                        </a>
                        <td>10$</td>
                        <td>21.11.2020</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
                <a href="offert/add"><button style="margin-left: 10px">Add new Offert</button></a>
                <br>
                <br>
            </main>
        </div>
        <%- include('./../../fragments/footer.ejs') %>