<%- include('./fragments/header.ejs') %>
    <%- include('./fragments/nav-hor.ejs') %>

        <div class="main">
            <main>
                <%- include('./fragments/gallery.ejs') %>
            </main>
        </div>

        <%- include('./fragments/footer.ejs') %>