<div class="gallery">
    <a target="_blank" href="admin-artworkDetails.html">
        <img src="Images/300px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="Forest" width="50"
            height="50">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
    <a>
        <img src="Images/san and kodama.jpg" alt="Temp" width="50" height="50">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a>
        <img src="Images/eboshi.png" alt="Forest" width="50" height="50">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a>
        <img src="Images/final_fantasy_xiii_logo_by_eldi13-d42h0oc.png" alt="Forest" width="50" height="50">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
    <a>
        <img src="Images/8f55e91fe469935fd5f8f0f11e91cbd2.jpg" alt="Forest" width="50" height="50">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>