<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ARTHeaven</title>
    <link rel="stylesheet" href="CSS/CSS_01.css">
    <link rel="stylesheet" href="CSS/CSS_grid.css">

    <script type="application/javascript" src="js/validationCommon.js"></script>
</head>

<body>

    <div class="grid-container2">

        <div class="header">
            <header>
                <img src="Images/yoshitaka1_h2.jpg" alt="logo">
                <a href="/">
                    <h1 id="startHeader">ART Heaven</h1>
                </a>
                <img src="Images/yoshitaka1_h3.jpg" alt="logo">
            </header>
        </div>