<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">

    <title>ARtdeaven - Admin</title>
    <link rel="stylesheet" href="..\CSS\CSS_01.css">
    <link rel="stylesheet" href="..\CSS\CSS_grid.css">
    <link rel="stylesheet" href="..\CSS\CSS_form.css">

    <script type="application/javascript" src="js/validationCommon.js"></script>
    <script type="application/javascript" src="js/validationUserForm.js"></script>

</head>

<body>
    <div class="grid-container">
        <div class="header">
            <header>
                <a href="/">
                    <h1 id="startHeader">ART Heaven</h1>
                </a>
                <img src="..\Images/yoshitaka1_h3.jpg" alt="logo">
            </header>
        </div>