<div class="nav-hor" style="background-color: rgb(57, 58, 58);">
    <nav>
        <ul class="horizontal">
            <li><a href="/user"> <button>ADMIN</button></a></li>
            <li><a href=" pages/signUp.html"> <button>SIGN UP</button></a></li>
            <li><a href="pages/logIn.html"> <button>LOG IN</button></a></li>
        </ul>
    </nav>
</div>