<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTHeaven - Submit Art</title>
    <link rel="stylesheet" href="..\CSS\CSS_01.css">
    <link rel="stylesheet" href="..\CSS\CSS_grid.css">
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <header>
                <a href="..\mainPage.html">
                    <h1 id="startHeader">ART Heaven</h1>
                </a>
                <img src="..\Images\yoshitaka1_h3.jpg" alt="logo">
            </header>
        </div>

        <div class="nav">
            <nav>
                <h2 class="nav-header">Admin panel</h2>
                <ul class="vertical">
                    <li><a href="adminPanel.html"> Users </a></li>
                    <li class="active"><a class="active" href="adminPanel-artworks.html">Artworks</a></li>
                    <li><a href="adminPanel-offerts.html"> Offerts </a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <main>
                <table class="data" width="auto">
                    <tr>
                        <td colspan="2">
                            <h4>Artwork Details</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>Mona Lisa</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>The painting's novel qualities include the subject's enigmatic expression, the
                            monumentality of the composition, the subtle modelling of forms,
                            and the atmospheric illusionism.</td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td>
                            portrait, renaissance</td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>trueartist</td>
                    </tr>
                    <tr>
                        <td colspan="2">Art</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><img
                                src="..\Images/300px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg"
                                width="200px"></td>
                    </tr>
                </table>
                <a href="admin-editArtwork.html"><button>Edit</button></a>
                <a href="adminPanel-artworks.html"><button>Cancel</button></a>

                <main>
                    <table class="data" cellpadding="5">
                        <tr>
                            <td colspan="2">
                                <h4> Offert Details</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Mona Lisa like portrait</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>I offer for traditional portrait. <br>
                                100x80 size</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>10$</td>
                        </tr>
                        <tr>
                            <td>Owner</td>
                            <td>trueartist</td>
                        </tr>
                        <tr>
                            <td>Created date</td>
                            <td>21.11.2020</td>
                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Purchase date</td>
                            <td>-</td>
                        </tr>



                    </table>
                </main>
        </div>
        <div class="footer">
            <footer>
                <p class="footer"> Martyna, Lipińska, s13186 </p>
            </footer>
        </div>
    </div>

</body>

</html>