<%- include('./../fragments/header2.ejs') %>
    <%- include('./../fragments/nav-ver.ejs') %>
        <div class="main">
            <main>
                <table class="data" cellpadding="5">
                    <tr>
                        <td colspan="2">
                            <h4> Offert Details</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>Mona Lisa like portrait</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>I offer for traditional portrait. <br>
                            100x80 size</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>10$</td>
                    </tr>
                    <tr>
                        <td>Owner</td>
                        <td>trueartist</td>
                    </tr>
                    <tr>
                        <td>Created date</td>
                        <td>21.11.2020</td>
                    </tr>
                    <tr>
                        <td>Customer</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Purchase date</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Attached artworks</td>
                        <td align="center"><img
                                src="..\Images/300px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg"
                                width="50px"></td>
                    </tr>


                </table>

                <a href="admin-editOffert.html"><button style="margin-left: 10px">Edit</button></a>
            </main>
        </div>
        <%- include('./../fragments/footer.ejs') %>